.about {
  background-image: url('/public/Cubes.svg');
  background-repeat: repeat;
  background-size: 50%;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.head {
  font-size: 5rem;
  margin: 0 2em;
  text-align: center;
  max-height: 100vw;
}

.about_img {
  margin: 5rem;
}